
<!--FOOTER ALANI BAŞLANGIC-->

<div class="footeralani">
   <footer>
         <p>copyright &copy; <a href="/">Arunrest</a> </p>
   </footer>
</div>



<!--FOOTER ALANI SONU-->

<!-- Javascript files-->
<script src="/js/loading.js"></script>
<script src="/js/index.js"></script>



</body>

</html>