<!DOCTYPE html>
<html lang="en">

<head>
   <!-- basic -->
   <meta charset="utf-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <!-- mobile metas -->
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="viewport" content="initial-scale=1, maximum-scale=1">


   <!-- site metas -->

   <title>Words Empire</title>

   <meta name="keywords"
      content="English vocabulary, language learning, grammar tips, language skills improvement, language resources, vocabulary building, language tutorials">

   <meta name="copyright"
      content="All rights reserved. © 2023 [Adınız veya Şirket Adınız]. Unauthorized copying or reproduction of our content is prohibited without explicit permission.">

   <!--sitenin içeriği-->
   <meta name="description"
      content="Explore the depths of English vocabulary and master grammar intricacies through our comprehensive online platform, dedicated to enhancing your language skills.">

   <meta name="author" content="Süleyman KILINÇ">

   <!--sayfanın yetişkinlik düzeyi-->
   <meta name="Rating" content="everyone">


   <!--çeviriye kapalı olması-->
   <meta name="google" content="notranslate">

   <!--sayfanın belirli bir süre içerisinde f5 atması-->
   <meta http-equiv="refresh" content="3600">

   <meta http-equiv="content-language" content="en">

   <!--site içeriğinin ne kadar zamanda bir güncellendiği.-->
   <meta name="revisit-after" content="7 days" />

   <!--site içeriğinin ne zaman zaman aşımına uğrayacağı-->
   <meta name="expires" content="Sun.1 jan. 2025">


   <!-- fevicon -->
   <link rel="icon" href="/public/icon/android-chrome-192x192.png" type="image/gif" />
   <link rel="icon" href="/public/icon/android-chrome-512x512.png" type="image/gif" />
   <link rel="icon" href="/public/icon/favicon-16x16.png" type="image/gif" />
   <link rel="icon" href="/public/icon/favicon-32x32.png" type="image/gif" />
   <link rel="icon" href="/public/icon/favicon.ico" type="image/gif" />
   <!--css dosyası linki-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
   <link href='https://fonts.googleapis.com/css?family=Anton' rel='stylesheet' type='text/css'>
   <link href='https://fonts.googleapis.com/css?family=Neucha' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="preconnect" href="https://fonts.googleapis.com">
   <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,500&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="/css/index.css">
   <link rel="stylesheet" href="/css/plants.css">
   <link rel="stylesheet" href="/css/vegetables.css">
   <link rel="stylesheet" href="/css/vocabulary_page.css">
   <link rel="stylesheet" href="/css/vocabulary.css">
   <link rel="stylesheet" href="/css/about.css">
   <link rel="stylesheet" href="/css/login.css">
   <link rel="stylesheet" href="/css/register.css">
   <link rel="stylesheet" href="/css/contact.css">
   <link rel="stylesheet" href="/css/dashboard.css">
   <link rel="stylesheet" href="/css/profile.css">
   <link rel="stylesheet" href="/css/posts.css">
   <link rel="stylesheet" href="/css/followers.css">
   <link rel="stylesheet" href="/css/settings.css">
   <link rel="stylesheet" href="/css/users.css">
   <link rel="stylesheet" href="/css/user.css">
   <link rel="stylesheet" href="/css/photos.css">







</head>