<%- include("partials/_header") %>
   <!-- body -->

   <body style="background-color: #f5f5f5;">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images\loading2.gif" alt="#" /></div>
      </div>
      <!-- end loader -->

      <!-- header -->
      <%- include("partials/_menu") %>
         <!-- end header inner -->




         <div class="logincontainer">
            <form method="post" action="/users/login" class="formmm">
               <div class="loginbox">
                  <div class="loginright">
                     <h2>Login</h2>

                     <input class="inputfield" placeholder="Username" type="text" name="loginusername">
                     <div style="display: none;" class="alertrgs alert-dangerrgs" id="loginusername"></div>

                     <input class="inputfield" placeholder="Password" type="password" name="loginpassword">
                     <div style="display: none;" class="alertrgs alert-dangerrgs" id="loginpassword"></div>

                     <button class="loginbtn">Log In</button>
                     <p style="color: green; display: none;" id="successMessage">Başarılı bir şekilde giriş yapıldı</p>
                     <a href="/register" class="registerbtn">Register</a>
                  </div>
               </div>
            </form>
         </div>

         <script>
            const form = document.querySelector('.formmm');
            const usernameLoginError = document.querySelector('#loginusername');
            const passwordLoginError = document.querySelector('#loginpassword');
            const successMessage = document.querySelector('#successMessage');

            form.addEventListener("submit", async (e) => {
               e.preventDefault();

               usernameLoginError.textContent = "";
               passwordLoginError.textContent = "";
               usernameLoginError.style.display = "none";
               passwordLoginError.style.display = "none";

               const loginusername = form.loginusername.value;
               const loginpassword = form.loginpassword.value;

               if (loginusername.length < 4) {
                  usernameLoginError.textContent = "Lütfen kullanıcı adınızı giriniz!";
                  usernameLoginError.style.display = "block";
                  return;
               }
               if (loginpassword.length < 8) {
                  passwordLoginError.textContent = "Lütfen şifrenizi giriniz!";
                  passwordLoginError.style.display = "block";
                  return;
               }

               try {
                  const res = await fetch('/users/login', {
                     method: "POST",
                     body: JSON.stringify({ username: loginusername, password: loginpassword }),
                     headers: { "Content-Type": "application/json" }
                  });

                  const data = await res.json();

                  if (!res.ok) {
                     if (data.error) {
                        // Hata mesajını göster
                        passwordLoginError.textContent = data.error;
                        passwordLoginError.style.display = "block";
                     }
                  } else {
                     // Başarılı giriş durumunda mesajı göster
                     successMessage.style.display = "block";

                     setTimeout(() => {
                        location.assign("/users/dashboard");
                     }, 4000);
                  }
               } catch (err) {
                  console.log("ERR::", err);
               }
            });
         </script>




         <!-- end contact -->
         <!-- end footer -->
         <%- include("partials/_footer") %>