<%- include("partials/_header") %>

   <!-- body -->





   <body style="background-color: #d8d8d8;">


      <form class="stngsform" action="/update_profile" method="POST">
         <h1>Profil Bilgileri Güncelle</h1>
         <label class="stngslabel" for="username">Kullanıcı Adı:</label>
         <input class="stngsinput" type="text" id="username" name="username" required><br><br>

         <label class="stngslabel" for="name">Ad:</label>
         <input class="stngsinput" type="text" id="name" name="name" required><br><br>

         <label class="stngslabel" for="surname">Soyad:</label>
         <input class="stngsinput" type="text" id="surname" name="surname" required><br><br>

         <label class="stngslabel" for="email">E-posta:</label>
         <input class="stngsinput" type="email" id="email" name="email" required><br><br>

         <label class="stngslabel" for="password">Eski Şifre:</label>
         <input class="stngsinput" type="password" id="oldPassword" name="oldPassword"><br>


         <label class="stngslabel" for="newPassword">Yeni Şifre:</label>
         <input class="stngsinput" type="password" id="newPassword" name="newPassword"><br>

         <button class="stngsbutton" type="submit">Güncelle</button>
      </form>

   </body>

   </html>