.aboutcontainer {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

/* members bölümü */
.users_info {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  background-color: crimson;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 900;
}

.photos_numbers,
.users_numbers {
  text-align: center;
}

.photos_numbers h3,
.users_numbers h3 {
  text-align: center;
  font-family: sans-serif;
  font-size: 25px;
  font-weight: 900;
  color: black;
}

/* ABOUT ME and contact bölümleri */
.Authorsection_title {
  margin: 20px 0;
  text-align: center;
  font-family: sans-serif;
  font-size: 30px;
  font-weight: 900;
  color: crimson;
}

/* Author kartı */
.Authorcard {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.Authorcard__image {
  max-width: 100%;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Authorcard__name {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: crimson;
}

.Authorgrid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 10px;
}

.Authorgrid-child-posts,
.Authorgrid-child-followers {
  text-align: center;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 5px;
}

/* Sosyal medya ikonları */
.Authorsocial-icons {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.Authorsocial-icons a {
  text-decoration: none;
  font-size: 24px;
  color: #333;
}
